/3d scans
dPS.tif
64248_ca_object_representations_media_41098_large-1920x1440-c-default-859235346.jpg
ASU0112028_lg.jpg
Herbarium photo.JPG
JoVxMwU5yqim264PNd4Kin-4188654023.jpg
lighting_directions.txt
lPS.tif
rPS.tif
sass_08-759689753.jpg
sassafras-leaf-comparison-2-1431137014.jpg
Stack.tif
stackPS.tif
test_1.jpg
uPS.tif
Test Images/img002.tif
Test Images/img003.tif
/Annotated Scans
*.tif
/build
